<div class="d-flex justify-content-center align-items-center vh-100">
  <div class="card" style="width: 32rem;">
    <div class="card-body d-flex flex-column align-items-center">
      <img src="assets/images/WasteWiseLogo.png" alt="WasteWiseLogo" class="mb-5" style="width: 110px; height: auto;">

      <h1 class="card-title fw-bold text-black mb-5">Welcome to WasteWise</h1>

      <a routerLink="/signup" class="btn btn-primary btn-custom mb-4">Sign Up</a>

      <hr class="mb-5" style="width: 100%;">

      <p class="card-text fs-5 fw-light mb-3">Already a user?</p>

      <a routerLink="/signin" class="btn btn-primary btn-custom mb-5">Sign In</a>
    </div>
  </div>
</div>