<div class="d-flex flex-column flex-shrink-0 p-3 bg-body-color" style="width: 280px; height: 100vh;">
    <a routerLink="dashboard" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
    <img src="assets/images/WasteWiseLogo.png" alt="WasteWiseLogo" style="width: 40px; height: auto;">
    <span class="fs-4">WasteWise</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
        <li class="nav-item">
            <a routerLink="dashboard" class="nav-link link-body-emphasis active-button">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#home" />
                </svg>
                Dashboard
            </a>
        </li>
        <li>
            <a routerLink="user" class="nav-link link-body-emphasis active-button">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#speedometer2" />
                </svg>
                User Management
            </a>
        </li>
        <li>
            <a routerLink="mct" class="nav-link link-body-emphasis active-button">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#table" />
                </svg>
                MCT Management
            </a>
        </li>
        <li>
            <a routerLink="user" class="nav-link link-body-emphasis active-button">
                <svg class="bi pe-none me-2" width="16" height="16">
                    <use xlink:href="#grid" />
                </svg>
                Others
            </a>
        </li>
    </ul>
    <hr>
    <div class="dropdown">
        <a href="#" class="d-flex align-items-center link-body-emphasis text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown" aria-expanded="false">
            <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
            <strong>IT Support</strong>
        </a>
        <ul class="dropdown-menu text-small shadow">
            <li><a class="dropdown-item">Settings</a></li>
            <li><a class="dropdown-item">Profile</a></li>
            <li>
                <hr class="dropdown-divider">
            </li>
            <li><a routerLink="" class="dropdown-item">Sign Out</a></li>
        </ul>
    </div>
</div>
