<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="assets/images/WasteWiseLogo.png" alt="" width="75px" height="auto">
    <h1 class="display-5 fw-bold text-body-emphasis">Welcome to WasteWise</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">WasteWise is a largest platform about fulfil the communication between waste collection teams and the citizens of the Sri Lanka.</p>
      <p class="lead mb-4">Connect with us and help to clean our country together!</p>
    </div>
  </div>